@import '../../../styles/variables.scss';
.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0 41px;
}

.pagination__prev-button,
.pagination__next-button {
  font-weight: 500;
  font-size: 24px;
  color: $text-color-main;

  &.disabled {
    color: $text-color-pale;
    cursor: auto;
  }
}

.pagination__pagination {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.pagination__pagination-button {
  font-weight: 700;
  font-size: 18px;
  color: $text-color-main;

  &.active {
    color: $text-color-activity;
  }
}